@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eceef8;
  --foreground: #5b5856;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes shimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}

.animate-shimmer {
  background: linear-gradient(90deg, #eaf2fb 25%, #e6e0d8 37%, #eaf2fb 63%);
  background-size: 800px 100%;
  animation: shimmer 1.6s ease-in-out infinite;
}
